<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318219647780-vdmmpu3maklq2qssb3f9eu94tvnmjohu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318219647780-vdmmpu3maklq2qssb3f9eu94tvnmjohu</string>
	<key>API_KEY</key>
	<string>AIzaSyCq4kVf2DUvVbCfvaNOG8GE0V-SZ5joO78</string>
	<key>GCM_SENDER_ID</key>
	<string>318219647780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.milimikol</string>
	<key>PROJECT_ID</key>
	<string>mana-f2abf</string>
	<key>STORAGE_BUCKET</key>
	<string>mana-f2abf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318219647780:ios:a1c168d632add8c2ded1b1</string>
</dict>
</plist>